.LI_1 {
    bottom: 0px;
    color: rgb(84, 84, 84);
    height: 94px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(84, 84, 84);
    top: 0px;
    width: 600px;
    column-rule-color: rgb(84, 84, 84);
    perspective-origin: 300px 47px;
    transform-origin: 300px 47px;
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.LI_1*/

.LI_1:after {
    color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.LI_1:after*/

.LI_1:before {
    color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.LI_1:before*/

.DIV_2 {
    color: rgb(84, 84, 84);
    height: 40px;
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    width: 600px;
    column-rule-color: rgb(84, 84, 84);
    perspective-origin: 300px 20px;
    transform-origin: 300px 20px;
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.DIV_2*/

.DIV_2:after {
    color: rgb(84, 84, 84);
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.DIV_2:after*/

.DIV_2:before {
    color: rgb(84, 84, 84);
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.DIV_2:before*/

.A_3 {
    color: rgb(26, 13, 171);
    display: none;
    text-align: left;
    text-decoration: none solid rgb(26, 13, 171);
    column-rule-color: rgb(26, 13, 171);
    caret-color: rgb(26, 13, 171);
    border: 0px none rgb(26, 13, 171);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(26, 13, 171) none 0px;
}/*.A_3*/

.A_3:after {
    color: rgb(26, 13, 171);
    text-align: left;
    text-decoration: none solid rgb(26, 13, 171);
    column-rule-color: rgb(26, 13, 171);
    caret-color: rgb(26, 13, 171);
    border: 0px none rgb(26, 13, 171);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(26, 13, 171) none 0px;
}/*.A_3:after*/

.A_3:before {
    color: rgb(26, 13, 171);
    text-align: left;
    text-decoration: none solid rgb(26, 13, 171);
    column-rule-color: rgb(26, 13, 171);
    caret-color: rgb(26, 13, 171);
    border: 0px none rgb(26, 13, 171);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(26, 13, 171) none 0px;
}/*.A_3:before*/

.A_4 {
    color: rgb(26, 13, 171);
    text-align: left;
    text-decoration: none solid rgb(26, 13, 171);
    column-rule-color: rgb(26, 13, 171);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(26, 13, 171);
    border: 0px none rgb(26, 13, 171);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(26, 13, 171) none 0px;
}/*.A_4*/

.A_4:after {
    color: rgb(26, 13, 171);
    text-align: left;
    text-decoration: none solid rgb(26, 13, 171);
    column-rule-color: rgb(26, 13, 171);
    caret-color: rgb(26, 13, 171);
    border: 0px none rgb(26, 13, 171);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(26, 13, 171) none 0px;
}/*.A_4:after*/

.A_4:before {
    color: rgb(26, 13, 171);
    text-align: left;
    text-decoration: none solid rgb(26, 13, 171);
    column-rule-color: rgb(26, 13, 171);
    caret-color: rgb(26, 13, 171);
    border: 0px none rgb(26, 13, 171);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(26, 13, 171) none 0px;
}/*.A_4:before*/

.H3_5 {
    color: rgb(26, 13, 171);
    cursor: pointer;
    display: inline-block;
    height: 18px;
    text-align: left;
    text-decoration: none solid rgb(26, 13, 171);
    width: 579.062px;
    column-rule-color: rgb(26, 13, 171);
    perspective-origin: 289.531px 9px;
    transform-origin: 289.531px 9px;
    caret-color: rgb(26, 13, 171);
    border: 0px none rgb(26, 13, 171);
    font: normal normal 400 normal 18px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(26, 13, 171) none 0px;
}/*.H3_5*/

.H3_5:after {
    color: rgb(26, 13, 171);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(26, 13, 171);
    column-rule-color: rgb(26, 13, 171);
    caret-color: rgb(26, 13, 171);
    border: 0px none rgb(26, 13, 171);
    font: normal normal 400 normal 18px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(26, 13, 171) none 0px;
}/*.H3_5:after*/

.H3_5:before {
    color: rgb(26, 13, 171);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(26, 13, 171);
    column-rule-color: rgb(26, 13, 171);
    caret-color: rgb(26, 13, 171);
    border: 0px none rgb(26, 13, 171);
    font: normal normal 400 normal 18px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(26, 13, 171) none 0px;
}/*.H3_5:before*/

.BR_6 {
    color: rgb(26, 13, 171);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(26, 13, 171);
    column-rule-color: rgb(26, 13, 171);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(26, 13, 171);
    border: 0px none rgb(26, 13, 171);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(26, 13, 171) none 0px;
}/*.BR_6*/

.BR_6:after {
    color: rgb(26, 13, 171);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(26, 13, 171);
    column-rule-color: rgb(26, 13, 171);
    caret-color: rgb(26, 13, 171);
    border: 0px none rgb(26, 13, 171);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(26, 13, 171) none 0px;
}/*.BR_6:after*/

.BR_6:before {
    color: rgb(26, 13, 171);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(26, 13, 171);
    column-rule-color: rgb(26, 13, 171);
    caret-color: rgb(26, 13, 171);
    border: 0px none rgb(26, 13, 171);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(26, 13, 171) none 0px;
}/*.BR_6:before*/

.DIV_7 {
    color: rgb(0, 102, 33);
    cursor: pointer;
    display: inline-block;
    height: 18px;
    text-align: left;
    text-decoration: none solid rgb(0, 102, 33);
    white-space: nowrap;
    width: 183.094px;
    column-rule-color: rgb(0, 102, 33);
    perspective-origin: 91.5469px 11px;
    transform-origin: 91.5469px 11px;
    caret-color: rgb(0, 102, 33);
    border: 0px none rgb(0, 102, 33);
    font: normal normal 400 normal 14px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    margin: -2px 0px 0px;
    outline: rgb(0, 102, 33) none 0px;
    padding: 2px 0px;
}/*.DIV_7*/

.DIV_7:after {
    color: rgb(0, 102, 33);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(0, 102, 33);
    white-space: nowrap;
    column-rule-color: rgb(0, 102, 33);
    caret-color: rgb(0, 102, 33);
    border: 0px none rgb(0, 102, 33);
    font: normal normal 400 normal 14px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(0, 102, 33) none 0px;
}/*.DIV_7:after*/

.DIV_7:before {
    color: rgb(0, 102, 33);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(0, 102, 33);
    white-space: nowrap;
    column-rule-color: rgb(0, 102, 33);
    caret-color: rgb(0, 102, 33);
    border: 0px none rgb(0, 102, 33);
    font: normal normal 400 normal 14px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(0, 102, 33) none 0px;
}/*.DIV_7:before*/

.SPAN_8 {
    color: rgb(0, 102, 33);
    cursor: pointer;
    display: inline-block;
    height: 14px;
    width: 18px;
    text-align: left;
    text-decoration: none solid rgb(0, 102, 33);
    white-space: nowrap;
    column-rule-color: rgb(0, 102, 33);
    perspective-origin: 10.1875px 7px;
    transform-origin: 10.1875px 7px;
    caret-color: rgb(0, 102, 33);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(0, 102, 33);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 11px / 11px Roboto, arial, sans-serif;
    list-style: none outside none;
    margin: 0px 7px 0px 0px;
    outline: rgb(0, 102, 33) none 0px;
    padding: 1px 3px 0px 2px;
}/*.SPAN_8*/

.SPAN_8:after {
    color: rgb(0, 102, 33);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(0, 102, 33);
    white-space: nowrap;
    column-rule-color: rgb(0, 102, 33);
    caret-color: rgb(0, 102, 33);
    border: 0px none rgb(0, 102, 33);
    font: normal normal 400 normal 11px / 11px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(0, 102, 33) none 0px;
}/*.SPAN_8:after*/

.SPAN_8:before {
    color: rgb(0, 102, 33);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(0, 102, 33);
    white-space: nowrap;
    column-rule-color: rgb(0, 102, 33);
    caret-color: rgb(0, 102, 33);
    border: 0px none rgb(0, 102, 33);
    font: normal normal 400 normal 11px / 11px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(0, 102, 33) none 0px;
}/*.SPAN_8:before*/

.CITE_9 {
    color: rgb(0, 102, 33);
    cursor: pointer;
    display: inline-block;
    height: 18px;
    max-width: 558px;
    text-align: left;
    text-decoration: none solid rgb(0, 102, 33);
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
    width: 155.703px;
    column-rule-color: rgb(0, 102, 33);
    perspective-origin: 77.8438px 9px;
    transform-origin: 77.8438px 9px;
    caret-color: rgb(0, 102, 33);
    border: 0px none rgb(0, 102, 33);
    font: normal normal 400 normal 14px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(0, 102, 33) none 0px;
    overflow: hidden;
}/*.CITE_9*/

.CITE_9:after {
    color: rgb(0, 102, 33);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(0, 102, 33);
    white-space: nowrap;
    column-rule-color: rgb(0, 102, 33);
    caret-color: rgb(0, 102, 33);
    border: 0px none rgb(0, 102, 33);
    font: normal normal 400 normal 14px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(0, 102, 33) none 0px;
}/*.CITE_9:after*/

.CITE_9:before {
    color: rgb(0, 102, 33);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(0, 102, 33);
    white-space: nowrap;
    column-rule-color: rgb(0, 102, 33);
    caret-color: rgb(0, 102, 33);
    border: 0px none rgb(0, 102, 33);
    font: normal normal 400 normal 14px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(0, 102, 33) none 0px;
}/*.CITE_9:before*/

.SPAN_10, .SPAN_12 {
    color: rgb(84, 84, 84);
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.SPAN_10, .SPAN_12*/

.SPAN_10:after, .SPAN_12:after {
    color: rgb(84, 84, 84);
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.SPAN_10:after, .SPAN_12:after*/

.SPAN_10:before, .SPAN_12:before {
    color: rgb(84, 84, 84);
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.SPAN_10:before, .SPAN_12:before*/

.SPAN_11 {
    color: rgb(84, 84, 84);
    display: inline-block;
    height: 18px;
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    width: 12px;
    column-rule-color: rgb(84, 84, 84);
    perspective-origin: 6px 9px;
    transform-origin: 6px 9px;
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    margin: 0px 3px;
    outline: rgb(84, 84, 84) none 0px;
}/*.SPAN_11*/

.SPAN_11:after {
    color: rgb(84, 84, 84);
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.SPAN_11:after*/

.SPAN_11:before {
    color: rgb(84, 84, 84);
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.SPAN_11:before*/

.DIV_13 {
    color: rgb(84, 84, 84);
    display: inline-block;
    height: 0px;
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    width: 0px;
    column-rule-color: rgb(84, 84, 84);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.DIV_13*/

.DIV_13:after {
    color: rgb(84, 84, 84);
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.DIV_13:after*/

.DIV_13:before {
    color: rgb(84, 84, 84);
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.DIV_13:before*/

.DIV_14 {
    bottom: 0px;
    color: rgb(84, 84, 84);
    cursor: pointer;
    display: inline;
    height: 12px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    top: 0px;
    vertical-align: middle;
    column-rule-color: rgb(84, 84, 84);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    user-select: none;
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 0px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.DIV_14*/

.DIV_14:after {
    color: rgb(84, 84, 84);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    user-select: none;
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 0px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.DIV_14:after*/

.DIV_14:before {
    color: rgb(84, 84, 84);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    user-select: none;
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 0px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.DIV_14:before*/

.SPAN_15 {
    bottom: 9.5px;
    color: rgb(84, 84, 84);
    cursor: pointer;
    display: block;
    height: 0px;
    left: 0px;
    position: absolute;
    right: 1px;
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    top: 7.5px;
    width: 0px;
    column-rule-color: rgb(84, 84, 84);
    perspective-origin: 4px 2.5px;
    transform-origin: 4px 2.5px;
    user-select: none;
    caret-color: rgb(84, 84, 84);
    border-top: 5px solid rgb(0, 102, 33);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 0px solid rgb(0, 102, 33);
    border-left: 4px solid rgba(0, 0, 0, 0);
    font: normal normal 400 normal 13px / 0px Roboto, arial, sans-serif;
    list-style: none outside none;
    margin: -4px 0px 0px 3px;
    outline: rgb(84, 84, 84) none 0px;
}/*.SPAN_15*/

.SPAN_15:after {
    color: rgb(84, 84, 84);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    user-select: none;
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 0px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.SPAN_15:after*/

.SPAN_15:before {
    color: rgb(84, 84, 84);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    user-select: none;
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 0px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.SPAN_15:before*/

.DIV_16 {
    color: rgb(84, 84, 84);
    display: -webkit-box;
    height: 54px;
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    text-overflow: ellipsis;
    width: 600px;
    column-rule-color: rgb(84, 84, 84);
    perspective-origin: 300px 27px;
    transform-origin: 300px 27px;
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
    overflow: hidden;
}/*.DIV_16*/

.DIV_16:after {
    color: rgb(84, 84, 84);
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.DIV_16:after*/

.DIV_16:before {
    color: rgb(84, 84, 84);
    text-align: left;
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 400 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(84, 84, 84) none 0px;
}/*.DIV_16:before*/

.B_17, .B_18 {
    color: rgb(106, 106, 106);
    text-align: left;
    text-decoration: none solid rgb(106, 106, 106);
    column-rule-color: rgb(106, 106, 106);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(106, 106, 106);
    border: 0px none rgb(106, 106, 106);
    font: normal normal 700 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(106, 106, 106) none 0px;
}/*.B_17, .B_18*/

.B_17:after, .B_18:after {
    color: rgb(106, 106, 106);
    text-align: left;
    text-decoration: none solid rgb(106, 106, 106);
    column-rule-color: rgb(106, 106, 106);
    caret-color: rgb(106, 106, 106);
    border: 0px none rgb(106, 106, 106);
    font: normal normal 700 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(106, 106, 106) none 0px;
}/*.B_17:after, .B_18:after*/

.B_17:before, .B_18:before {
    color: rgb(106, 106, 106);
    text-align: left;
    text-decoration: none solid rgb(106, 106, 106);
    column-rule-color: rgb(106, 106, 106);
    caret-color: rgb(106, 106, 106);
    border: 0px none rgb(106, 106, 106);
    font: normal normal 700 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(106, 106, 106) none 0px;
}/*.B_17:before, .B_18:before*/

.B_19 {
    color: rgb(106, 106, 106);
    text-align: left;
    text-decoration: none solid rgb(106, 106, 106);
    column-rule-color: rgb(106, 106, 106);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(106, 106, 106);
    border: 0px none rgb(106, 106, 106);
    font: normal normal 700 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(106, 106, 106) none 0px;
}/*.B_19*/

.B_19:after {
    color: rgb(106, 106, 106);
    text-align: left;
    text-decoration: none solid rgb(106, 106, 106);
    column-rule-color: rgb(106, 106, 106);
    caret-color: rgb(106, 106, 106);
    border: 0px none rgb(106, 106, 106);
    font: normal normal 700 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(106, 106, 106) none 0px;
}/*.B_19:after*/

.B_19:before {
    color: rgb(106, 106, 106);
    text-align: left;
    text-decoration: none solid rgb(106, 106, 106);
    column-rule-color: rgb(106, 106, 106);
    caret-color: rgb(106, 106, 106);
    border: 0px none rgb(106, 106, 106);
    font: normal normal 700 normal 13px / 18px Roboto, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(106, 106, 106) none 0px;
}/*.B_19:before*/
