@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proxima-nova/ProximaNova-Thin.eot");
  src: url("/fonts/proxima-nova/ProximaNova-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima-nova/ProximaNova-Thin.woff") format("woff"), url("/fonts/proxima-nova/ProximaNova-Thin.ttf") format("truetype"), url("/fonts/proxima-nova/ProximaNova-Thin.svg#Proxima Nova") format("svg");
  font-weight: 100;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/proxima-nova/ProximaNova-Thin.svg#Proxima Nova") format("svg"); } }

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proxima-nova/ProximaNova-Light.eot");
  src: url("/fonts/proxima-nova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima-nova/ProximaNova-Light.woff") format("woff"), url("/fonts/proxima-nova/ProximaNova-Light.ttf") format("truetype"), url("/fonts/proxima-nova/ProximaNova-Light.svg#Proxima Nova") format("svg");
  font-weight: 200;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/proxima-nova/ProximaNova-Light.svg#Proxima Nova") format("svg"); } }

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proxima-nova/ProximaNova-Regular.eot");
  src: url("/fonts/proxima-nova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima-nova/ProximaNova-Regular.woff") format("woff"), url("/fonts/proxima-nova/ProximaNova-Regular.ttf") format("truetype"), url("/fonts/proxima-nova/ProximaNova-Regular.svg#Proxima Nova") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/proxima-nova/ProximaNova-Regular.svg#Proxima Nova") format("svg"); } }

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proxima-nova/ProximaNova-Semibold.eot");
  src: url("/fonts/proxima-nova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima-nova/ProximaNova-Semibold.woff") format("woff"), url("/fonts/proxima-nova/ProximaNova-Semibold.ttf") format("truetype"), url("/fonts/proxima-nova/ProximaNova-Semibold.svg#Proxima Nova") format("svg");
  font-weight: 600;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/proxima-nova/ProximaNova-Semibold.svg#Proxima Nova") format("svg"); } }

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proxima-nova/ProximaNova-Bold.eot");
  src: url("/fonts/proxima-nova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima-nova/ProximaNova-Bold.woff") format("woff"), url("/fonts/proxima-nova/ProximaNova-Bold.ttf") format("truetype"), url("/fonts/proxima-nova/ProximaNova-Bold.svg#Proxima Nova") format("svg");
  font-weight: 700;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/proxima-nova/ProximaNova-Bold.svg#Proxima Nova") format("svg"); } }


:root {
  --es-blue: rgb(50, 191, 219);
  --bg: rgb(247, 247, 247);
  --dark-bg: rgb(239, 239, 239);
  --industry: rgb(147, 229, 164);
  --keyword: rgb(145, 229, 227);
  --employee-size: rgb(248, 209, 179);
  --job-title: rgb(250, 176, 208);
}

* {
  /* Override semantic-defined fonts */
  font-family: "Proxima Nova" !important;
}

:global .fa {
  /* Override the Proxima Nova declaration above */
  font-family: "Font Awesome 5 Free" !important;
}

:global .fab {
  /* Override the Proxima Nova declaration above */
  font-family: "Font Awesome 5 Brands" !important;
}

.navBar {
  height: 42px;
  background: var(--es-blue);
}

.helpText {
  color: white;
}

.whiteLink {
  color: white;
  &:hover {
    color: red;
  }
}

.googleAd {
  margin: auto;
  padding: 10px 30px;
}

:global(.no-js #app) .titleHeader {
  display: block;
  text-align: center;
  color: black;
  font-weight: 400;
}

:global(.no-js #app) .h1 {
  color: var(--es-blue);
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 400;
}

:global(.no-js #app) .longH1 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

:global(.no-js #app) .googleAd {
  margin: auto;
  border: 2px solid rgb(195, 195, 195);
  background: white;
}

:global(.no-js #app) .demandDashboard {
  background: var(--bg);
}

:global(.no-js #app) .row {
  padding: 4rem 0;
}

:global(.no-js #app) .darkRow {
  padding: 4rem 0;
  background: var(--dark-bg);
}

/* Properties */
.propertiesCont {
  width: 50%;
  margin: auto;
}

.property {
  margin-bottom: 20px;
}

.propertyTitle {
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.propChipCont {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.propChip {
  font-size: 12px;
  font-weight: 200;
  display: inline-block;
  border-radius: 40px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.propChip-industry {
  composes: propChip;
  background: var(--industry);
}

.propChip-jobTitle {
  composes: propChip;
  background: var(--job-title);
}

.propChip-keyword {
  composes: propChip;
  background: var(--keyword);
}

.propChip-employeeSize {
  composes: propChip;
  background: var(--employee-size);
}

/* Supply companies */
:global(.no-js #app) .supplyCompanyCards {
  width: 70%;
  margin: auto;
  /* max-width: 850px; */
  /* margin: auto; */
}

:global(.no-js #app) .supplyCompanyCard {
  border-top: 5px solid var(--es-blue);
  width: 250px;
  height: 250px;
}

:global(.no-js #app) .companyName {
  /* Company names can be very long. */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.supplyLogoCont {
}

.supplyCompanyLocation {
  text-align: center;
}

.supplyCompanyWebsite  {
  text-align: center;
}

.supplyCompanyLinkedin {
  text-align: center;
}

:global(.no-js #app) .supplyLogo {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.numContacts {
  text-align: center;
}

.numContactsNum {
  display: inline-block;
  margin-left: 5px;
}

.aiMagic {
  display: block;
  margin: auto;
}
