@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proxima-nova/ProximaNova-Thin.eot");
  src: url("/fonts/proxima-nova/ProximaNova-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima-nova/ProximaNova-Thin.woff") format("woff"), url("/fonts/proxima-nova/ProximaNova-Thin.ttf") format("truetype"), url("/fonts/proxima-nova/ProximaNova-Thin.svg#Proxima Nova") format("svg");
  font-weight: 100;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/proxima-nova/ProximaNova-Thin.svg#Proxima Nova") format("svg"); } }

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proxima-nova/ProximaNova-Light.eot");
  src: url("/fonts/proxima-nova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima-nova/ProximaNova-Light.woff") format("woff"), url("/fonts/proxima-nova/ProximaNova-Light.ttf") format("truetype"), url("/fonts/proxima-nova/ProximaNova-Light.svg#Proxima Nova") format("svg");
  font-weight: 200;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/proxima-nova/ProximaNova-Light.svg#Proxima Nova") format("svg"); } }

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proxima-nova/ProximaNova-Regular.eot");
  src: url("/fonts/proxima-nova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima-nova/ProximaNova-Regular.woff") format("woff"), url("/fonts/proxima-nova/ProximaNova-Regular.ttf") format("truetype"), url("/fonts/proxima-nova/ProximaNova-Regular.svg#Proxima Nova") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/proxima-nova/ProximaNova-Regular.svg#Proxima Nova") format("svg"); } }

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proxima-nova/ProximaNova-Semibold.eot");
  src: url("/fonts/proxima-nova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima-nova/ProximaNova-Semibold.woff") format("woff"), url("/fonts/proxima-nova/ProximaNova-Semibold.ttf") format("truetype"), url("/fonts/proxima-nova/ProximaNova-Semibold.svg#Proxima Nova") format("svg");
  font-weight: 600;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/proxima-nova/ProximaNova-Semibold.svg#Proxima Nova") format("svg"); } }

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proxima-nova/ProximaNova-Bold.eot");
  src: url("/fonts/proxima-nova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima-nova/ProximaNova-Bold.woff") format("woff"), url("/fonts/proxima-nova/ProximaNova-Bold.ttf") format("truetype"), url("/fonts/proxima-nova/ProximaNova-Bold.svg#Proxima Nova") format("svg");
  font-weight: 700;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/proxima-nova/ProximaNova-Bold.svg#Proxima Nova") format("svg"); } }


:root {
  --es-blue: rgb(50, 191, 219);
  --bg: rgb(247, 247, 247);
  --dark-bg: rgb(239, 239, 239);
  --industry: rgb(147, 229, 164);
  --keyword: rgb(145, 229, 227);
  --employee-size: rgb(248, 209, 179);
  --job-title: rgb(250, 176, 208);
  --header-red: #ff565c;
}

* {
  /* Override semantic-defined fonts */
  font-family: "Proxima Nova" !important;
}

:global .fa {
  /* Override the Proxima Nova declaration above */
  font-family: "Font Awesome 5 Free" !important;
}

:global .fab {
  /* Override the Proxima Nova declaration above */
  font-family: "Font Awesome 5 Brands" !important;
}

.content {
  padding: 50px 30px;
}

.row {
  padding: 0 30px;
}

:global(.no-js #app) h1 {
  font-size: 42px;
  font-weight: 200;
}

.landingV2 {
  background: var(--bg);
}

.logoCont {

}

:global(.no-js #app) .navBar {
  height: 9rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.titleRow {
  composes: row;
}

.firmosRow {

}

.firmo {

}

:global(.no-js #app) .cell {
  background: white;
  width: 28%;
  height: 319px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.firmoHeader {
  color: var(--header-red);
  font-size: 14px;
  text-transform: uppercase;
}

.firmoVal {
  font-size: 18px;
  font-weight: 800
}
.demandCompaniesRow {

}
